:root {
  --_colors---green: #666b5a;
  --_colors---white: #ececec;
  --_colors---black: #1d1d1d;
  --_colors---grey: #7e7773;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.hero-section.home {
  height: 100vh;
  padding: 40px;
}

.navbar {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template: "Area Area-2"
  / 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row dense;
  justify-content: space-between;
  align-items: center;
  max-width: none;
  height: 7em;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  display: grid;
  position: absolute;
  inset: 0% 0% auto;
}

.logo-image {
  clear: none;
  flex: 0 auto;
  order: 0;
  justify-content: center;
  align-items: center;
  width: 190px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: static;
}

.hero-content {
  background-color: var(--_colors---green);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.hero-content.home {
  background-color: #0000;
  background-image: url('../images/stari_dvor_web-1.jpg');
  background-position: 50%;
  background-size: cover;
  max-width: none;
  height: 100%;
  padding: 40px 0;
}

.hero-container {
  margin-top: 400px;
  padding-left: 0;
}

.hero-container.home {
  z-index: 2;
  text-align: center;
  width: 70%;
  max-width: none;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 0;
  position: relative;
}

.body {
  background-color: var(--_colors---green);
  font-family: Tt Ricordi Greto Trial, Times New Roman, sans-serif;
}

.hero-text {
  float: none;
  clear: none;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  text-align: center;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: auto;
  max-width: 720px;
  margin: 0 auto;
  display: block;
  position: static;
  inset: 0% 0% auto;
  overflow: visible;
}

.cover {
  z-index: -1;
  opacity: 1;
  object-fit: cover;
  flex: 0 auto;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 40px;
  display: block;
  position: absolute;
}

.cover.outro {
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  display: block;
  position: relative;
  top: auto;
  bottom: auto;
}

.heading {
  color: var(--_colors---white);
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 3em;
  font-weight: 400;
  line-height: 1.1em;
}

.paragraph {
  color: var(--_colors---white);
  text-transform: uppercase;
  width: 100%;
  max-width: 660px;
  height: auto;
  margin: auto auto 0 0;
  font-size: 1.2em;
  line-height: 1.4em;
  display: block;
}

.paragraph.hero {
  text-transform: uppercase;
  border-radius: 0;
  max-width: none;
  margin-bottom: 20px;
  margin-left: auto;
}

.paragraph.hero.button {
  border: 2px solid var(--_colors---white);
  object-fit: fill;
  width: auto;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding: 4px 10px;
  transition: opacity .2s;
  display: block;
}

.paragraph.hero.button:hover {
  opacity: .7;
}

.paragraph.hero.button.nav {
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.paragraph.black {
  direction: ltr;
  color: var(--_colors---black);
  flex: 0 auto;
  width: 100%;
  max-width: 660px;
  height: auto;
  margin-top: auto;
  margin-bottom: 0;
  margin-left: 0;
  font-size: 1.2em;
}

.paragraph.black.footer {
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  max-width: none;
  margin-right: 0;
  display: block;
}

.paragraph.body {
  max-width: 500px;
}

.notice {
  color: var(--_colors---white);
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.paragraph-2 {
  font-size: 16px;
}

.section {
  background-color: var(--_colors---white);
  height: 100vh;
}

.section.black {
  background-color: #44403f;
}

.section.green {
  background-color: var(--_colors---green);
  margin: 0;
  padding: 0;
}

.section.green.body {
  height: 100vh;
  margin: 40px;
}

.section.green.end {
  padding: 40px;
}

.container {
  object-fit: cover;
  max-width: none;
  height: 100%;
  max-height: none;
  padding: 40px;
}

.container.footer {
  height: 80px;
  padding: 30px 20px;
}

.container.outro {
  background-image: url('../images/stari_dvor-12.jpg');
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  padding: 0;
  display: flex;
}

.subheading {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 2.2em;
  font-weight: 400;
  line-height: 1.2em;
}

.subheading.white {
  color: var(--_colors---white);
}

.grid {
  grid-column-gap: 30px;
  grid-row-gap: 0px;
  object-fit: fill;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  place-content: stretch space-between;
  place-items: stretch stretch;
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: grid;
  position: static;
  overflow: visible;
}

.image {
  box-sizing: border-box;
  aspect-ratio: auto;
  -webkit-text-fill-color: inherit;
  vertical-align: baseline;
  object-fit: cover;
  background-clip: border-box;
  width: 100%;
  max-width: none;
  height: 100%;
  max-height: 100%;
  margin-left: 0;
  margin-right: 0;
  overflow: clip;
}

.image.vertical {
  width: auto;
  height: auto;
  max-height: 500px;
}

.footer {
  background-color: #f0ece5;
}

.nav-link {
  float: none;
  color: var(--_colors---white);
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: 0;
  padding-left: 10px;
  padding-right: 0;
  text-decoration: none;
  display: block;
  position: relative;
  inset: auto 0 0%;
}

.nav-link.it {
  display: none;
}

.div-block {
  text-align: right;
  flex: 0 auto;
  order: 0;
  align-self: center;
  margin: 0;
  padding-right: 0;
}

.button-small {
  text-align: left;
  margin-left: 0;
  padding-left: 0;
  text-decoration: none;
}

.navbar-logo-center-container {
  z-index: 5;
  background-color: #0000;
  width: 1030px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.navbar-logo-center-container.shadow-three {
  width: 100%;
  max-width: 1140px;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper-three {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.navbar-brand-three {
  z-index: 5;
  position: absolute;
}

.nav-menu-wrapper-three {
  width: 100%;
}

.nav-menu-three {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-menu-block {
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-link-2 {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-2:hover {
  color: #1a1b1fbf;
}

.nav-link-2:focus-visible, .nav-link-2[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: #1a1b1fbf;
}

.nav-dropdown-toggle:focus-visible, .nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  width: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible, .nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-link-accent {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: #1a1b1fbf;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.container-3 {
  justify-content: space-between;
  display: flex;
}

.brand {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.nav-menu {
  flex: 0 auto;
}

.navbar-2 {
  display: none;
}

.logo {
  text-align: left;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  position: static;
  left: auto;
  right: auto;
}

.description {
  flex-flow: column;
  height: 100%;
  display: flex;
}

.menu-dropdown {
  max-width: 50px;
  margin-left: 0;
}

.dropdown {
  margin-left: 0;
  margin-right: auto;
  display: none;
}

.dropdown-toggle {
  padding: 0;
}

.div-block-2 {
  height: 100%;
  max-height: 100%;
}

.image2 {
  box-sizing: border-box;
  aspect-ratio: auto;
  object-fit: cover;
  width: auto;
  max-width: 100%;
  height: 100%;
  max-height: none;
  margin-top: 0;
  margin-bottom: 0;
  display: block;
}

.dropdown-list {
  display: block;
}

.link-block {
  text-decoration: none;
}

.outro {
  text-align: center;
  background-image: url('../images/_DSC9360.jpg');
  background-position: 50%;
  background-size: cover;
  width: 100%;
  max-width: none;
  height: 100%;
  display: block;
  position: static;
}

.outro-text {
  box-sizing: border-box;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  max-width: 720px;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  position: relative;
  inset: 0%;
  overflow: visible;
}

@media screen and (max-width: 991px) {
  .hero-content.home {
    padding: 40px;
  }

  .heading {
    font-size: 2.2em;
  }

  .image.vertical {
    width: auto;
    max-height: 300px;
  }

  .container-2 {
    max-width: 728px;
  }

  .navbar-wrapper-three {
    justify-content: space-between;
  }

  .navbar-brand-three {
    position: relative;
  }

  .nav-menu-wrapper-three {
    background-color: #0000;
    top: 70px;
  }

  .nav-menu-three {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px #0000000d;
  }

  .nav-link-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .outro-text {
    max-width: 600px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    width: 60%;
    margin-top: -150px;
  }

  .heading {
    font-size: 2em;
  }

  .paragraph, .paragraph.hero, .paragraph.black {
    font-size: 1em;
  }

  .container {
    padding: 30px;
  }

  .grid {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  .navbar-brand-three {
    padding-left: 0;
  }

  .nav-menu-three {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-menu-block {
    flex-direction: column;
  }

  .nav-link-2 {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px #0000000d;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-link-accent {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }
}

@media screen and (max-width: 479px) {
  .hero-section.home {
    padding: 0;
  }

  .navbar {
    z-index: 2;
    grid-column-gap: 0px;
    height: auto;
  }

  .logo-image {
    width: 140px;
  }

  .hero-content.home {
    background-image: url('../images/stari_dvor_web-1.jpg');
    background-position: 0 0;
    background-size: cover;
    padding: 0;
  }

  .hero-container.home {
    background-image: url('../images/stari_dvor_web-1.jpg');
    background-position: 0%;
    background-size: cover;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    padding: 0 20px;
    display: flex;
  }

  .hero-text {
    text-align: center;
    flex-flow: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
  }

  .cover {
    width: 90%;
    margin-top: -210px;
  }

  .heading {
    margin-top: 20px;
    font-size: 1.7em;
  }

  .paragraph {
    margin-bottom: 0;
  }

  .paragraph.hero {
    margin-bottom: 20px;
  }

  .paragraph.hero.button.nav {
    display: block;
  }

  .paragraph.black.footer {
    margin-top: 0;
  }

  .section.green {
    padding: 0;
  }

  .section.green.body {
    margin: 0;
  }

  .section.green.end {
    padding: 0;
  }

  .container {
    padding: 40px 20px;
  }

  .container.footer {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .container.outro {
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
  }

  .subheading {
    margin-bottom: 30px;
    font-size: 1.7em;
    font-weight: 400;
  }

  .subheading.white {
    margin-bottom: 0;
  }

  .grid {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .container-2 {
    max-width: none;
  }

  .nav-menu-three {
    flex-direction: column;
  }

  .logo {
    width: 140px;
  }

  .description {
    justify-content: flex-end;
  }

  .button {
    display: none;
  }

  .outro-text {
    float: none;
    clear: none;
    padding-left: 20px;
    padding-right: 20px;
    position: static;
    top: auto;
    bottom: auto;
  }
}

#w-node-_8b2b9212-ac78-8827-ff95-6e77471891bd-3e076a7e {
  place-self: center;
}

#w-node-_57e1f2ac-86d2-aa1b-baaf-97b9ef5f1a8e-ef5f1a8d {
  grid-area: Area;
  justify-self: auto;
}

#w-node-_57e1f2ac-86d2-aa1b-baaf-97b9ef5f1a90-ef5f1a8d {
  grid-area: Area;
}

#w-node-_57e1f2ac-86d2-aa1b-baaf-97b9ef5f1a9a-ef5f1a8d {
  justify-self: end;
}

#w-node-a556c984-fad8-7abc-8123-203cdbc8dea4-9ab840ef {
  justify-self: auto;
}

#w-node-bfcd226a-683b-84a3-b851-1297c7c5255f-48b77d35 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-a556c984-fad8-7abc-8123-203cdbc8dea4-107146c8, #w-node-a556c984-fad8-7abc-8123-203cdbc8dea4-424b5e21 {
  justify-self: auto;
}

@media screen and (min-width: 1920px) {
  #w-node-ff900d60-b39d-9f3a-6c6b-16297f2e1a04-9ab840ef, #w-node-f7108331-dc27-4dcd-d178-2586db3c5551-9ab840ef, #w-node-eff4025f-6110-32d6-49ec-2bcdaba9b797-9ab840ef, #w-node-a556c984-fad8-7abc-8123-203cdbc8dea6-9ab840ef, #w-node-_8db0de3d-91e1-39d5-e0bf-68e478003caf-9ab840ef, #w-node-_36d3d593-ef3b-bb91-f46e-44340739ce6f-9ab840ef, #w-node-ff900d60-b39d-9f3a-6c6b-16297f2e1a04-107146c8, #w-node-f7108331-dc27-4dcd-d178-2586db3c5551-107146c8, #w-node-eff4025f-6110-32d6-49ec-2bcdaba9b797-107146c8, #w-node-a556c984-fad8-7abc-8123-203cdbc8dea6-107146c8, #w-node-_8db0de3d-91e1-39d5-e0bf-68e478003caf-107146c8, #w-node-_36d3d593-ef3b-bb91-f46e-44340739ce6f-107146c8, #w-node-ff900d60-b39d-9f3a-6c6b-16297f2e1a04-424b5e21, #w-node-f7108331-dc27-4dcd-d178-2586db3c5551-424b5e21, #w-node-eff4025f-6110-32d6-49ec-2bcdaba9b797-424b5e21, #w-node-a556c984-fad8-7abc-8123-203cdbc8dea6-424b5e21, #w-node-_8db0de3d-91e1-39d5-e0bf-68e478003caf-424b5e21, #w-node-_36d3d593-ef3b-bb91-f46e-44340739ce6f-424b5e21 {
    justify-self: auto;
  }
}


@font-face {
  font-family: 'Tt Ricordi Greto Trial';
  src: url('../fonts/TT-Ricordi-Greto-Trial-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}